<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rum.absensijeneponto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_dinkes"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_dinkes_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AbsensiJeneponto">
        <activity
            android:name="com.rum.absensijeneponto.WebviewReportActivity"
            android:exported="false" />
        <activity
            android:name="com.rum.absensijeneponto.ReportActivity"
            android:exported="false" />
        <activity
            android:name="com.rum.absensijeneponto.RegistFaceActivity"
            android:exported="false" />
        <activity
            android:name="com.rum.absensijeneponto.AttendanceActivity2"
            android:exported="false" />
        <activity
            android:name="com.rum.absensijeneponto.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name="com.rum.absensijeneponto.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.rum.absensijeneponto.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.rum.absensijeneponto.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>